.container {
    display: flex;
    height: 100vh;
    /* 100% da altura da viewport */
    flex-direction: row;
}

.box {
    display: flex;
    flex: 1;
    justify-content: start;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: auto;
}