/* global.css */

body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Define a altura da tela como 100% da viewport height */
  font-family: Arial, sans-serif;
  /* Outras regras CSS globais podem ser adicionadas aqui */
}
