.boxContainer {
    display: flex;
    height: 100vh;
    /* 100% da altura da viewport */
    flex-direction: row;
}

.button {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 30px;
}

.buttonAtt {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: end;
}