.container {
    display: flex;
    /* height: 100vh; */
    /* 100% da altura da viewport */
    flex-direction: row;
    overflow-y: auto; 
    
}

.table {
    display: flex;
    flex: 1;
    justify-content: start;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    overflow-y: auto; 
}

.buttons {
    display: flex;
    justify-content: end;
    margin-right: 55px;
    gap: 20px;
    margin-bottom: 25px;
    overflow-y: auto; 
}

.title {
    gap: 15px;
    margin-bottom: 10px;
}