.appContainer {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.contentContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: auto;
    gap: 20px;
}

.flexboxUpper {
    padding: 10px;
    margin-bottom: 20px;
}

.flexboxRow {
    gap: 15px;
    display: flex;
    flex-direction: row;
}

.box {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
}

.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    /* Adicione um scroll interno se necessário */
    height: fit-content;
    /* Adicione isso para ajustar automaticamente a altura ao conteúdo */
}

.title {
    gap: 15px;
    margin-bottom: 10px;
}